<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Поиск по году</div>
        <div>
            <form method="post">
                <input type="text" name="year" placeholder="Введите год"/>
                <button type="submit">Поиск</button>
            </form>
        </div>
        <div>Список значений</div>
        {{#values}}
        <div>
            <b>{{id}}</b>
            <span>{{destination}}</span>
            <span>{{cause}}</span>
            <span>{{diagnose}}</span>
        </div>
        {{/values}}
    </body>
</html>